.survey {
  padding: 20px 80px;
  flex: 1 0 auto;
}

.survey-heading {
  font-weight: 400;
  font-size: 26px;
  margin-bottom: 50px;
}

.question {
  box-sizing: border-box;
  background: white;
  border: 1px solid #e9ecf0;
  padding: 16px;
  max-width: 254px;
}

.question-heading {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  padding: 0 4px;
  margin-bottom: 30px;
}

.answer {
  box-sizing: border-box;
  position: relative;
  border: 1px solid #e9ecf0;
  border-bottom-style: none;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.answer:last-of-type {
  border-bottom-style: solid;
}

.label {
  flex: 1;
  font-size: 12px;
  white-space: nowrap;
  overflow-x: hidden;
  max-width: 65%;
}

.label,
.value {
  position: relative;
  font-weight: 600;
  z-index: 3;
}

.answer .value {
  font-size: 12px;
}

.marker,
.track {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background: #f4f6f8;
  z-index: 1;
}

.marker {
  background: none;
  border-right: 1px dashed #203d66;
  z-index: 2;
}
